body {

  margin-top:13px;
  font-family:monospace;
  font-size:19px;
  color: #ccc;
  background-color: #000;

}



h2 {
  color:#08a;
  font-weight:bold;
  text-align:center;

}


.btn-default {
  background-color: #ccc;
  font-size:19px;
  float:left;
}


img.me {
  width:75px;
  height:75px;
}
